.container2 {
    background-color: #407f87;
    color: rgb(15, 15, 15);
    width: 100%;
    padding-bottom: 1000px;
  }
  
img {
    max-width: 100vh;
    height: auto;
}

h1 {
    font-size: 50px;
}